{
  "env": {
    "development": {
      "presets": ["@babel/preset-env", "@babel/preset-typescript"],
      "plugins": ["@babel/plugin-transform-runtime"]
    },
    "umd": {
      "presets": ["@babel/preset-env", "@babel/preset-typescript"]
    }
  }
}
