.drop-area {
  width: 100%;
  height: 200px;
  text-align: center;
  border: 2px dashed #000;
}

h1 {
  padding-top: 40px;
}

/* Class added when Drag/Drop event inside Drop Area */
.asc-drop-area--inside {
  background-color: #ccc;
}

.image-preview {
  max-width: 200px;
  max-height: 200px;
}
